<div class="center-attr" id="modal-signup" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4><b><%= t ".sign_in" %></b></h4>
      </div>
      <div class="modal-body modal-padding">
        <p><%= t ".sign_in_with_email" %></p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, class:"modal-input form-control", placeholder: t(".email") %><br>

          <%= f.password_field :password, class:"modal-input form-control",
            placeholder: t(".password") %><br>
          
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, t(".remember") %>
          <% end %>

          <%= f.submit t(".sign_in"), class:"modal-input form-control btn btn-danger" %>
        <% end %>
        <%= link_to t(".forget_pass"), new_password_path(resource_name) %></p>
        <hr>
        <p><%= t ".sign_in_with_other" %></p>
        <%= link_to user_facebook_omniauth_authorize_path, class: "modal-input btn btn-primary" do %>
          <i class="fa fa-facebook-square"></i> <%= t ".facebook" %>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: "modal-input btn btn-danger" do %>
          <i class="fa fa-google-plus-square"></i> <%= t ".google" %>
        <% end %>
        <hr>
        <p><%= t ".no_account" %> <%= link_to t(".sign_up"), new_user_registration_url %></p>
      </div>
    </div>
  </div>
</div>
