<div class="col-12 col-md-4 section-padding-100-0">
  <div class="single-blog-area mb-100">
    <%= link_to image_tag(course.thumbnail.url), course_path(course), data: {turbolinks: false} %>
    <div class="blog-content">
      <h4><%= link_to course.name, course_path(course), class: "blog-headline" %></h4>
      <div class="meta d-flex align-items-center">
        <%= link_to course.user_name, course_path(course) %>
        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
        <%= link_to course.created_at.strftime("%d/%m/%Y"), course_path(course) %>
      </div>
      <p class="truncate"><%= course.description %></p>
      <div class="rating thumbnail-rating">
        <%= rate(course.rate_average).html_safe %>
      </div>
      <hr/>
      <div>
        <button class="btn btn-success mt-3"><%= t ".buy_course" %></button>
        <p class="thumbnail-price price">$29,90</p>
      </div>
    </div>
  </div>
</div>
