<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= t ".connect_credit" %>
      </h4>
    </div>
    <div class="panel-body">
      <%= form_tag e_wallet_path, method: :get do %>
          <%= select_tag :number, options_for_select((@approved_credits - @approved_credits.connected).collect {|s| [s.number, s.id]}), prompt: t(".select_one"),
            class: "form-control", onclick: "this.form.submit()" %>
      <% end %>
      <% if @credit.present? %>
        <br/>
        <div>
          <p>
            <span>
              <i class="glyphicon glyphicon-user"></i>
              <%= t ".name" %>
            </span>
            <%= @credit.name %>
          </p>
          <p>
            <span>
              <i class="glyphicon glyphicon-envelope"></i>
              <%= t ".email" %>
            </span>
            <%= @credit.email %>
          </p>
          <p>
            <span>
              <i class="glyphicon glyphicon-info-sign"></i>
              <%= t ".credit_card_number" %>
            </span>
            <%= @credit.number %>
          </p>
          <p>
            <span>
              <i class="glyphicon glyphicon-piggy-bank"></i>
              <%= t ".bank" %>
            </span>
            <%= @credit.bank %>
          </p>
          <p>
            <span>
              <i class="glyphicon glyphicon-credit-card"></i>
              <%= t ".card_type" %>
            </span>
            <%= @credit.card_type %>
          </p>
        </div>
        <div>
          <%= form_for @credit do |f| %>
            <%= f.hidden_field :connected, value: true %>
            <%= f.submit t(".connect"), class: "btn btn-success right" %>
          <% end %>
        </div>
      <% end %>
      <br/><br/>
      <div>
        <p class="text-muted">
        <%= t ".pre_new_credit_link" %>
        <%= link_to t(".here"), new_credit_path, id: "link-new-credit", class: "label label-info" %>
        <%= t ".post_new_credit_link" %>
        </p>
      </div>
    </div>
  </div>
</div>
