<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span>
        <%= t ".info" %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= link_to new_transaction_path, class: "btn btn-success right" do %>
          <%= t ".pay_in" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <span>
            <i class="glyphicon glyphicon-user"></i>
            <%= t ".user" %>
          </span>
          <span><%= @e_wallet.user.name %></span>
        </p>
        <p>
          <span>
            <i class="glyphicon glyphicon-envelope"></i>
            <%= t ".email" %>
          </span>
          <span><%= @e_wallet.user.email %></span>
        </p>
        <p>
          <span>
            <i class="glyphicon glyphicon-usd"></i>
            <%= t ".balances" %>
          </span>
          <span><%= @e_wallet.balances.to_s + t(".vnd")%></span>
        </p>
      </div>
    </div>
    <div>
      <p>
        <span>
          <i class="glyphicon glyphicon-credit-card"></i>
          <%= t ".credits_connected" %>
        </span>
      <% if @approved_credits.connected.empty? %>
        <span><%= t ".none" %></span>
      </p>
      <%= t ".request_connect" %>
      <% else %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="info">
                <th scope="col">#</th>
                <th scope="col"><%= t ".bank" %></th>
                <th scope="col"><%= t ".type" %></th>
                <th scope="col"><%= t ".holder" %></th>
                <th scope="col"><%= t ".expiration_date" %></th>
              </tr>
            </thead>
            <tbody>
              <% @approved_credits.connected.each do |credit| %>
                <tr>
                  <th scope="row"><%= @approved_credits.connected.index(credit) + 1 %></th>
                  <td><%= credit.bank %></td>
                  <td><%= credit.card_type %></td>
                  <td><%= credit.name %></td>
                  <td><%= l(credit.expiration_date, format: :long) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
