<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header title">
        <%= link_to t("lesson.index.courses"), courses_path %> /
        <%= @course.name %>
      </h2>
    </div>
  </div>
  <button class="add_form btn btn-success"><i class="fa fa-plus"></i>
    <%= t "lesson.index.add" %>
  </button><hr/>
  <div class="add_lesson mt-20">
    <%= simple_form_for([@course, @lesson]) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <form role="form">
        <div class="form-group">
          <div class="form-group">
            <%= f.input :course_id, value: @course.id, as: :hidden %>
            <%= f.input :name, label: t("lesson.index.lesson_name"),
              placeholder: t("lesson.new.enter_name"),
              input_html: { class: "form-control" } %>
          </div>
          <div class="form-group">
            <%= f.file_field :video_url, label: t(".video_url") %>
          </div>
          <%= f.submit t("lesson.new.submit"), class: "btn btn-success" %>
        </div>
      </form>
    <% end %>
  </div>
  <section class="panel">
    <div class="nav search-row">
      <div class="panel-body">
        <%= render "admin/lessons/lesson" %>
      </div>
    </div>
  </section>
</div>
