<div class="container cart-index">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h3><%= t ".course" %></h3></th>
            <th><h3><%= t ".price" %></h3></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render "cart_item", cart_items: @cart_items, total_price: @total_price %>
          <tr>
            <td></td>
            <td>
              <%= link_to t("button.continue_view"), root_path, class: "btn btn-default" %>
            </td>
            <td>
              <%= link_to t("button.purchase"), "#", class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
