<div class="control-box main-content">
  <div class="panel panel-white post">
    <div class="post-heading">
      <div class="pull-left image">
        <img src="<%= comment.user_avatar.url %>" class="img-circle avatar" alt="user profile image">
      </div>
      <div class="pull-left meta">
        <div class="title h5">
          <a href="#"><b><%= comment.user_name %></b></a>
          <%= t "course.show.create_comment" %>
        </div>
        <p class="text-muted time"><%= time_ago_in_words(comment.created_at) %></p>
        
      </div>
    </div>
    <div class="post-description">
      <div class="row">
        <p class="col-sm-11 show-cmt"><%= comment.content %></p>
        <% if can? :update, comment.user %>
          <span class="fa fa-pencil col-sm-1 btn-edit-cmt" data-url="<%= comment_path(comment) %>"></span>
          <input class="form-control col-sm-12 edit-cmt hidden" value="<%= comment.content %>">
          <small class="col-sm-12 message-save-cmt hidden"><%= raw t "course.comment.message_save_cmt" %></small>
        <% end %>
      </div>
      <div class="stats">
      <h3>
        <span class="label label-success">
          <i class="fa fa-share icon" id="count-cmt-<%= comment.id %>">
            <%= comment.comment_child?.size %>
          </i>
        </span>
      </h3>
      </div>
    </div>
    <div class="post-footer">
      <ul class="comments-list list-<%= comment.id %>">
        <% comment.comment_child?.each do |child_comment| %>
          <%= render "child_comment", child_comment: child_comment %>          
        <% end %>
      </ul>
      <%= render "write_comment", comment: comment %>
    </div>
  </div>
</div>
