<div class="row">
  <div class="col-md-offset-3 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "course.new.title" %>
      </div>
      <div class="error-message text-left"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= simple_form_for(@course, remote: true) do |f| %>
              <%= render "shared/error_messages", object: f.object %>
              <form role="form">
                <div class="form-group">
                  <%= f.input :name, label: t("course.new.name"), placeholder: t("course.new.place_name"),
                    input_html: { class: "form-control" } %>
                </div>
                <div class="form-group">
                  <%= f.input :category_id, collection: options,
                    label: t("course.new.category"), input_html: { class: "form-control" },
                    selected: params[:parent_id] %>
                </div>
                <div class="form-group">
                  <%= f.input :description, label: t("course.new.description"),
                    placeholder: t("course.new.description_ph"),
                    input_html: { class: "form-control" } %>
                </div>
                <div class="form-group">
                  <% if @course.id %>
                    <%= image_tag @course.thumbnail.url, class: "img-rounded" %>
                  <% end %>
                  <%= f.file_field :thumbnail, label: t(".thumbnail") %>
                </div>
                <%= f.hidden_field :rate_average, value: 0 %>
                <%= f.submit t("course.new.submit"), class: "btn btn-success" %>
              </form>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
