<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header title"><%= t "course.index.title" %></h2>
    </div>
    <div class="col-lg-12">
      <%= render "filter" %>
    </div>
  </div>
  <% unless current_user.role == "student" %>
    <%= link_to new_course_path, class: "btn btn-success" do %>
      <i class="fa fa-plus"></i> <%= t "button.add"%>
    <% end %>
  <% end %>
  <hr>
  <table class="table table-hover table-bordered datatable">
    <thead class="text-center">
      <tr>
        <th class="col-md-1"><%= t "course.index.name" %></th>
        <th class="col-md-1"><%= t "course.index.author" %></th>
        <th class="col-md-1"><%= t "course.index.price" %></th>
        <th class="col-md-1"><%= t "course.index.percent_sale" %></th>
        <th class="col-md-1"><%= t "course.index.category" %></th>
        <th class="col-md-3"><%= t "course.index.description" %></th>
        <th class="col-md-1"><%= t "course.index.rate_average" %></th>
        <th class="col-md-1"><%= t "course.index.created_at" %></th>
        <th class="col-md-1"><%= t "course.index.thumbnail" %></th>
        <th class="col-md-1"><%= t "course.index.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "grid_course" %>
    </tbody>
  </table>
</div>
