<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="control-box">
          <h2><%= @course.name %></h2>
        </div>
        <div class="control-box course-card sidebara">
          <%= image_tag @course.thumbnail.url, class: "img-responsive" %><hr>
          <h3 class="text-center no-course"><%= number_to_currency @course.price_sale, locale: :vi %></h3>
          <% if @course.percent_sale > 0 %>
            <p class="text-center price-course"><%= number_to_currency @course.price, locale: :vi %></p>
          <% end %>
          <div class="text-center btn-add-cart-<%= @course.id %>">
            <% if user_signed_in? && check_course(@course.id) %>
              <button class="btn btn-warning" disabled><%= t "cart_items.btn_added" %></button>
            <% else %>
              <%= link_to t("button.buy_course"), cart_items_path(course_id: @course.id), method: :post,
                class: "btn btn-success btn-lg", remote: true %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="control-box breadcrumb" id="mNavbar">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#infor">Informartion</a></li>
            <li role="presentation"><a href="#lesson">Lesson</a></li>
            <li role="presentation"><a href="#author">Authors</a></li>
            <li role="presentation"><a href="#votes">Votes</a></li>
          </ul>
        </div>
        <div class="control-box main-content" id="infor">
          <p>
            <%= @course.description %>
          </p>
        </div>
        <div class="control-box main-content" id="lesson">
          <p>
            <%= render partial: "lesson", object: @course, as: "course" %>
          </p>
        </div>
        <div class="control-box main-content" id="author">
          <%= render "author" %>
        </div>
        <div class="control-box main-content" id="votes">
          <%= render partial: "rating", object: @ratings, as: "ratings" %>
        </div>
        <% if user_signed_in? %>
          <% unless current_user.check_rating? @course.id  %>
            <div class="control-box main-content" id="write-comment">
              <%= render "write_comment", comment: nil %>
            </div>
          <% end %>
        <% end %>
        <div id="comments">
          <% @comments.each do |comment| %>
            <%= render partial: "comment", object: comment, as: "comment" %>
          <% end %>
        </div>
        <div class="page-center">
          <%= paginate @comments, theme: "twitter-bootstrap-3" %>
        </div>

      </div>
    </div>
  </div>
</div>
