<div class="pass-form">
  <%= form_for @user, url: admin_user_path(@user), method: :put, remote: true do |f| %>
    <%= link_to admin_users_path, class: "close" do %><i class="fa fa-times"></i><% end %>
    <h3 class="text-center"><%= t ".title" %></h3>
    <%= render "user", f: f %>
    <div class="form-group">
      <%= f.submit t("button.edit"), class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
