<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header title"><%= t ".title" %></h2>
  </div>
</div>
<%= link_to new_admin_user_path, class: "btn btn-success" do %>
  <i class="fa fa-plus"></i> <%= t "button.add"%>
<% end %><hr>
<table class="table table-hover table-bordered datatable">
  <thead class="text-center">
    <tr>
      <th><%= t "users.registrations.new.name" %></th>
      <th><%= t "users.registrations.new.email" %></th>
      <th><%= t "admin.users.role" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td>
          <% if u.avatar.url.present? %>
            <%= image_tag u.avatar.url, class: "circular-avatar"%>
          <% else %>
            <%= image_tag "default_avatar_small" %>
          <% end %>
          <%= u.name %>
        </td>
        <td><%= u.email %></td>
        <td><%= u.role %></td>
        <td>
          <%= link_to edit_admin_user_path(u), class: "btn btn-success" do %>
            <i class="fa fa-pencil"></i> <%= t "button.edit"%>
          <% end %>
          <% if can? :destroy, u %>
            <%= link_to admin_user_path(u), method: :delete,
              data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %>
                <i class="fa fa-trash"></i> <%= t "button.delete"%>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
