<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @transaction, method: :post do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :credit_card %>
          <%= f.collection_select :credit_id, current_user.e_wallet.credits.connected, :id, :number,
            {prompt: "-- Select --", selected: params[:credit_id]}, {class: "form-control form-control-md custom-select"} %>
        </div>
        <div class="form-group">
          <%= f.label :amount %>
          <%= f.text_field :amount, class: "form-control", placeholder: "Enter amount to pay in..." %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_field :content, class: "form-control", placeholder: "Enter content..." %>
        </div>
        <%= f.submit "Confirm", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
