<%= link_to "#" do %>
  <i class="fa fa-bell">
    <span class="cart-notice">10</span>
  </i>
<% end %>
<%# if notification.count == 0 %>
  <!-- <ul class="cart-index"><b><%= link_to "Không có thông báo!", "#" %></b></ul> -->
<%# else %>
  <ul>
    <li>
      <%= link_to "Notification 1", "#" %>
    </li>
    <li>
      <%= link_to "Notification 2", "#" %>
    </li>
    <li>
      <%= link_to "...", "#" %>
    </li>
  </ul>
<%# end %>
