<div class="center-attr" id="modal-signup" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4><b><%= t ".sign_up" %></b></h4>
      </div>
      <div class="modal-body modal-padding">
        <p><%= t ".sign_up_with_email" %></p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
          <div class="error-message text-left"></div>
          <%= f.text_field :name, class:"modal-input form-control", autofocus: true, placeholder: t(".name") %><br>
          <%= f.email_field :email, class:"modal-input form-control", placeholder: t(".email") %><br>
          <%= f.password_field :password, class:"modal-input form-control",
            placeholder: t(".password") %><br>
          <%= f.password_field :password_confirmation, class:"modal-input form-control",
            placeholder: t(".pass_confirm") %><br>
          <%= f.submit t(".sign_up"), class:"modal-input form-control btn btn-danger" %>
        <% end %>
        <hr>
        <p><%= t ".sign_up_with_other" %></p>
        <%= link_to user_facebook_omniauth_authorize_path, class: "modal-input btn btn-primary" do %>
          <i class="fa fa-facebook-square"></i> <%= t ".facebook" %>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: "modal-input btn btn-danger" do %>
          <i class="fa fa-google-plus-square"></i> <%= t ".google" %>
        <% end %>
        <hr>
        <p><%= t ".already_account" %> <%= link_to t(".sign_in"), new_user_session_url %></p>
      </div>
    </div>
  </div>
</div>
